@font-face {
  font-family: 'lato';
  src: 
    /*  url('./assets/fonts/Lato-Medium.woff2') format('woff2'),
      url('./assets/fonts/Lato-Medium.woff') format('woff'), */
      url('./assets/fonts//Lato-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'lato', sans-serif;
  color: #FFF;
  background: #000;
    /* font-size: 3.2vh; */
  font-size: 2.2vh;
  white-space: nowrap;
  user-select: none;
}
/*
  @media (min-width: 667px) and (max-width: 1460px) {
  body{font-size: 2.3vh;}
  }
@media (min-width: 480px) and (max-width: 667px){
  body{font-size: 18px;}
}
@media (min-width: 320px) and (max-width: 480px) {
    body{font-size: 16px;}
}
@media (max-width: 320px) {
    body{font-size: 14px;}
   */
h1 {
  font-size: 2.06em;
}
h2 {
  font-size: 1.61em;
}
h3 {
  font-size:  1.27em;
}
p, label, input, button{
  font-size: 1.1em;
}
span{
  font-size: 0.9em;
}

/* containers */
.mainContainer{
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
}
  
.container360{
  width: 360px;
  text-align: center;
  margin: auto;
  margin-top: 2em;
}

.centerContainer{
  margin-top: 45%;
  transform: translateY(-50%);
  height: 100px;
}

#background{
  position: fixed;
  display: block;
  top:0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden !important;
  z-index: -1;
  opacity: 0.8;
  transform: 0.3s;
}

#mainTemp{
  border-top: 6px solid #fff;
  border-radius: 100%;
  margin: 35px 50px -93px 50px;
  height: 160px;
  width: 230px;
  padding: 40px 15px 40px 15px;
}

#riseSet{
  margin: auto;
  position: relative;
  bottom: 22px;
  width: 285px;
  font-size: 1.1em;
}

.header{
  margin: 0.2em 0 0.05em;
  font-size: 3.1em;
  letter-spacing: 0.03em;
  line-height: 0.9em;
}

#weatherDescription{
  clear: both;
  text-transform: capitalize;
  font-size: 2.2em;
}

.leftAlign{
  text-align: left;
  float: left;
}

.rightAlign{
  text-align: right;
  float: right;
}

#sunBar{
  border-bottom: 2px solid #FFF;
  width: 300px;
  margin: 0.5em auto 0 auto;
}

.sunMoonPsn{
  margin-left: -12px;
  position: absolute;
  height: 305px;
  transform: rotate(-90deg);
}

.infoBar{
  width: 360px;
  margin: 0.5em auto;
  clear: both;
}

.infoBar div{
  width: 113px;
  display: inline-block;
}

.forecastElement img{
  margin: -0.4em 0;
  height: 5em;
}

.infoBar svg, .forecastElement svg {
  position: relative;
  top: 3px;
  right: 0.22em;
}

#tempBig{
  font-size:4.1em;
}

.weatherIcon{
 position: relative;
 top: -0.23em;
 left: -22px;
}

#tempUnit{
  font-size: 0.58em;
  margin-left: -95px;
}

.forecastElement{
  text-align: center;
  display: inline-block;
  width: 100px;
}


input[type="text"]
{
  background: transparent;
  border: none;
  border-bottom: 2px dotted #FFF;
  color: white;
  margin: 0 5px;
  outline: none;
}

.centerContainer input{
  width: 320px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

::placeholder{
	color: #fff !important;
}

input:focus, textarea:focus {
	background: rgba(255,255,255, 0.3);
}

button{
  margin: 20px;
  background: none;
  border: 1.5px solid #fff;
  border-radius: 2em;
  padding: 14px;
  color: white;
  outline: none;
  cursor: pointer;
}

label{
  z-index: 5;
}

label h3{
  text-align: left;
  margin-left: 20px;
}
/* rado buttons */
.radios{
  margin: 1.5em auto;
}

.radios span{
  font-size: 0;
}

.radios input[type="checkbox"],
.radios input[type="radio"] {
    display: none;
}
    
.radios label {
  margin: 5px;
  cursor: pointer;
}
    
.radios input[type="checkbox"]:checked+label,
.radios input[type="radio"]:checked+label {
    color: #fff;
}
    
.radios input[type="checkbox"]+label>span,
.radios input[type="radio"]+label>span {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: none;
    border-radius: 100%;
    border: 2px solid #fff;
}
    
.radios input[type="radio"]+label span {
  margin-top: -6px;
    border-radius: 100%;
}
/*
.radios input[type="checkbox"]+label>span::before {
    content: "";
    display: block;
}
    
.radios input[type="checkbox"]:checked+label>span>span::before {
    position: relative;
    top: -4px;
    background-color: #fff;
    font-size: 0;
    border: 4px solid #fff;
    border-radius: 100%;
}
*/ 
.radios input[type="radio"]+label>span>span{
  position: relative;
  top: 8px;
  background-color: #fff;
  border: 6px solid #fff;
  border-radius: 100%;
  opacity: 0;
  transition: 0.3s;
}
.radios input[type="radio"]:checked+label>span>span {
    opacity: 1;
}

/* toggle switch (checkbox) */
.toggle p{
  margin: auto;
  position: relative;
  font-size: 20px;
  top: -33px;
  z-index: 0;
}

.toggle p span:first-child{
  position: relative;
  left: -25px;
}

.toggle p span:nth-child(2){
  position: relative;
  right: -25px;
}

.toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  display: none;
  /*visibility: hidden;*/
}

.toggle label {
  margin: 10px auto;
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: none;
  border: 2px solid #fff;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggle label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.toggle input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.toggle label:active:after {
  width: 26px;
}