@font-face {
  font-family: 'lato';
  src: 
    /*  url('./assets/fonts/Lato-Medium.woff2') format('woff2'),
      url('./assets/fonts/Lato-Medium.woff') format('woff'), */
      url('./assets/fonts//Lato-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'lato', sans-serif;
  color: #FFF;
  background: #000;
    font-size: 20px;
    /* font-size: 3.2vh; */
}

#background{
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
  opacity: 0.82;
}

.container{
  width: 360px;
  position: absolute;
  text-align: center;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1{
  margin-top: 10px;
  font-size: 55px;
  letter-spacing: 1px;
  line-height: 40px;
}

.infoBar{
  width: 360px;
  margin-bottom: 15px;
}

.infoBar div{
  width: 110px;
  display: inline-block;
}

.infoSvg{
  position: relative;
  top: 5px;
  right: 2px;
}

#tempBig{
  font-size:100px;
  line-height: 60px;
  margin-top: 20px;
  /*font-family: 'soriasoria';*/
}

.capitalize{
  text-transform: capitalize;
}

.weatherIcon{
 /* transform: translate(-25%, -25%); */
 position: relative;
 top: -25px;
 left: -25px;
}

#tempUnit{
  font-size: 60px;
  margin-left: -95px;
}

#forecast{
  margin-top: 10px;
  width: 90vw;
  overflow: hidden;
}

#forecastWindow{
  width: 4000px;
  display: inline-block;
}

.forecastElement{
  text-align: center;
  display: inline-block;
  width: 100px;
}

label, input, button{
  font-size: 18px;
}

input[type="text"]
{
    background: transparent;
    border: none;
    border-bottom: 2px dotted #FFF;
    color: white;
    margin: 0 5px;
    outline: none;
}

input[name="city"]
{
  width: 270px;
}

input[name="country"]
{
  width: 238px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

::placeholder{
	color: #fff !important;
}

input:focus, textarea:focus {
	background: rgba(255,255,255, 0.3);
}

button{
  background: none;
  border: 1.5px solid #fff;
  border-radius: 30px;
  padding: 13px;
  color: white;
  outline: none;
  cursor: pointer;
}


